
//mixin for sections with column structure
@mixin resp-grid ($l-grid-temp-r, $l-grid-temp-c, $l-grid-gap,
				  $m-grid-temp-r, $m-grid-temp-c, $m-grid-gap,
				  $s-grid-temp-r, $s-grid-temp-c, $s-grid-gap,
				  $xs-grid-auto-rows, $xs-grid-gap) {
	display: grid;
	@media only screen and (min-width: 960px) {
		grid-template-rows: $l-grid-temp-r;
		grid-template-columns: $l-grid-temp-c;
		grid-gap: $l-grid-gap;
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		grid-template-rows: $m-grid-temp-r;
		grid-template-columns: $m-grid-temp-c;
		grid-gap: $m-grid-gap;
	}
	@media only screen and (min-width: 540px) and (max-width: 767px) {
		grid-template-rows: $s-grid-temp-r;
		grid-template-columns: $s-grid-temp-c;
		grid-gap: $s-grid-gap;
	}
	@media only screen and (min-width: 320px) and (max-width: 539px) {
		grid-auto-rows: $xs-grid-auto-rows;
		grid-template-columns: 1fr;
		grid-gap: $xs-grid-gap;
		padding-left: 30px;
		padding-right: 30px;
	}
}


//mixin for rows with elements floated to left and right sides
@mixin grid-col ($row-height) {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: $row-height;
	align-items: center;
}
//mixin for 'grid-col' rows at small viewports
@mixin grid-row ($grid-temp-rows) {
	grid-auto-flow: row;
	grid-template-rows: $grid-temp-rows;
	justify-content: center;
}


//mixin for background setup
@mixin bg-img ($bg-img-url, $opacity: null) {
	background-image: $bg-img-url;
	background-position: center;
	background-size: cover;
	opacity: $opacity;
}


//mixin for headings and heading-like text
@mixin heading ($text-transform, $font-size-factor, $color: null, $font-family: null) {
	text-transform: $text-transform;
	font-family: $font-family;
	font-size: $basic-font-size * $font-size-factor;
	color: $color;
}


//mixin for stickers in box (price, on-sale/out-of-stock, date in blog)
@mixin sticker-box ($bg-color, $size, $color: #fff, $font-size-factor: 0.9) {
    @extend %center-itm;
    text-align: center;
    width: $size;
    height: $size;
    color: $color;
    text-transform: uppercase;
    font-size: $basic-font-size * $font-size-factor;
    background-color: $bg-color;
}


//mixin for paragraph blocks
@mixin txt-block ($color, $font-family: null) {
	color: $color;
	font-size: $basic-font-size * .9;
	line-height: 150%;
	font-family: $font-family;
}