@import '../../reusable-components/logo-row';
@import '../../reusable-components/menu-row';
@import '../../reusable-components/banner-text';

.banner {
    position: relative;
    background-image: url('../../../images/products-banner.jpg');
    background-position: center;
    height: 260px;
    .banner-text { 
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .banner-price {
            margin-right: 30px;
            @media only screen and (min-width: 768px) and (max-width: 959px) { margin-right: 15px; }
            @media only screen and (min-width: 320px) and (max-width: 539px) { margin-right: 5px; }
        }
        h2 { font-weight: normal; }
        p {
            margin-top: 10px;
            width: 100%;
        }
        @media only screen and (min-width: 320px) and (max-width: 539px) {
            h2 {
                font-size: $basic-font-size * 2;
                line-height: 110%;
            }
            p { font-size: $basic-font-size * 1.1; }
        }
    }
}

.shop-by {
    background-color: $med-dark-bg-color;
    height: 90px;
    padding: 15px 0;
    .container {
        display: flex;
        justify-content: flex-end;
        color: #fff;
        p {
            font-size: $basic-font-size * 1.6;
            display: flex;
            align-items: center;
            padding-right: 100px;
        }
        figure {
            position: relative;
            width: 220px;
            height: 60px;
            background-color: $main-dark-color;
            @extend %center-itm;
            margin-right: 20px;
            font-size: $basic-font-size * 1.3;
            cursor: pointer;
            &:last-child { margin-right: 0; }
            position: relative;
            i {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translate(0, -50%);
                font-size: $basic-font-size;
            }
            .dropdown {
                z-index: 3;
                width: 220px;
                position: absolute;
                top: 63px;
                left: 0;
                display: none;
                span {
                    display: block;
                    font-size: $basic-font-size * 0.9;
                    font-family: $aller-light;
                    padding: 7px 30px;
                    background-color: $main-dark-color;
                    &:hover { background-color: $cta-green-color; }
                }
                @media only screen and (min-width: 540px) and (max-width: 767px) { width: 150px; }
                @media only screen and (min-width: 320px) and (max-width: 539px) {
                    width: 100%;
                    span {
                        text-align: center;
                    }
                }  
            }
        }
        @media only screen and (min-width: 450px) and (max-width: 959px) {
            justify-content: space-around;
            p { display: none; }
            figure { margin-right: 5px; }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 539px){
        height: auto;
        .container {
            display: block;
            p { display: none; }
            figure {
                width: 100%;
                height: 50px;
                margin-bottom: 8px;
                &:last-child { margin-bottom: 0; }
            }
        }
    }
}
