
@import '../../reusable-components/logo-row';
@import '../../reusable-components/menu-row';
@import '../../reusable-components/banner-text';

//background for small screens without slider
header {
	@media only screen and (min-width: 320px) and (max-width: 539px) {
		@include bg-img (url(../../images/small-screens-main-bg.jpg));
		background-repeat: no-repeat;
	}
}

//main structure
header {
	height: 100vh;
	position: relative;
	nav,
	.carousel-tabs,
	.banner-text {
		position: absolute;
		width: 100%;
	}
	nav { top: 0; }
	.carousel-tabs { bottom: 0; }
}

.slider {
	height: 100vh;
	width: 100%;
	div {
		position: relative;
		height: 100vh;
	    width: 100%;
		.first-slider-item { @include bg-img (url(../../images/slide-img-1.jpg)); }
		.second-slider-item { @include bg-img (url(../../images/slide-img-2.jpg)); }
		.third-slider-item { @include bg-img (url(../../images/slide-img-3.jpg)); }
	}
	@media only screen and (min-width: 320px) and (max-width: 539px) {
		.second-slider-item,
		.third-slider-item { display: none; }
	}
}

.banner-text {
	.banner-price,
	h2 { margin-bottom: 10px; }
	h2 { font-weight: normal; }
	p { margin-bottom: 15px; }
	.action-menu {
		display: flex;
		a {
			@include sticker-box (#fff, 40px, #6e6e6e, 1.45);
			margin-right: 3px;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.banner-price,
		h2,
		p { margin-bottom: 10px; }
	}
	@media only screen and (min-width: 320px) and (max-width: 767px) {
        p { width: 75% }
	}
	@media only screen and (min-width: 320px) and (max-width: 539px) {
		p { width: 100% }
		h2 {
			font-size: $basic-font-size * 2.4;
			line-height: 110%;
		}
		p { font-size: $basic-font-size * 1.2; }
	}
}

.carousel-tabs {
	background-color: $med-dark-bg-color;
	display: flex;
	justify-content: center;
	padding: 10px 0 25px 0;
	color: $light-text-color;
	font-family: $aller-light;
	text-align: center;
	transition: color .5s;
	@media only screen and (min-width: 320px) and (max-width: 767px) { display: none; }
	figure {
		width: 190px;
		div {
			z-index: -100;
			width: 185px;
			height: 7px;
			margin: 10px 0 20px 0;
			background-color: darken($main-dark-color, 5%);
			outline: 3px solid darken($main-dark-color, 5%);
		}
		figcaption {
			h4 {
				font-size: $basic-font-size * 1.3;
				margin-bottom: 5px;
			}
			p { font-size: $basic-font-size * 0.9; }
		}
	}
}
.pink-shoes div,
.anna-field div { border-right: 5px solid $med-dark-bg-color; width: 188px; }
.prada div { width: 179px; }
