//colors
$main-dark-color: #242424;
$med-dark-bg-color: #2E2E2E;
$light-bg-color: #EBE7E9;
$med-light-bg-color: #DFDBD4;
$light-text-color: #A4A4A4;
$cta-green-color: #57C5A0;

//fonts
$basic-font-size: 14px;
$aller-reg: 'Aller';
$aller-light: 'Aller-Light';
$aller-it: 'Aller-It';
$logo-font: 'STHeitiSC';