.contacts {
	background-color: $main-dark-color;
	.container {
		@include grid-col (120px);
		@media only screen and (min-width: 320px) and (max-width: 539px) {
			padding-top: 25px;
			padding-bottom: 25px;
			@include grid-row (70px 70px);
		}
		form {
			position: relative;
		}
		input[type="text"] {
			display: block;
			float: left;
			width: 215px;
			height: 40px;
			background-color: $med-dark-bg-color;
			color: $light-text-color;
			&[placeholder] {
				padding-left: 10px;
				font-family: $aller-it;
			}	
		}
		input[type="submit"] {
			display: block;
			width: 40px;
			height: 40px;
			background-color: $med-light-bg-color;
			background-image: url(../../images/arrow-i.png);
			background-repeat: no-repeat;
			background-position: center;
			opacity: .4;
			cursor: pointer;
		}
		#ex-msg {
			padding: 5px;
			top: 13px;
			position: relative;
			display: none;
		}
		#news-tria {
			border-bottom-color: $med-dark-bg-color;
			border-top: 0;
			margin: 0 auto;
			position: absolute;
			bottom: 6px;
			left: 115px;
			display: none;
		}
		.social {
			justify-self: end;
			display: flex;
			@media only screen and (min-width: 320px) and (max-width: 539px) { justify-self: center; }
			
			a {
				@include sticker-box ($med-dark-bg-color, 40px, $light-text-color, $font-size-factor: 0.9);
				margin-right: 5px;
				&:last-child { margin-right: 0; }
				&:hover,
				&:active {
					color: $cta-green-color;
					transition: color .3s;
				}
				&:last-child {
					color: $med-dark-bg-color;
					background-color: $light-text-color;
					border: 8px solid $med-dark-bg-color;
					transition: background-color .3s;
					&:last-child:hover,
					&:last-child:active {
						background-color: $cta-green-color;
						transition: background-color .3s;
					}
				}
			}
		}
	}
}
