.pre-footer {
	background-color: $main-dark-color;
	border-bottom: 1px solid darken($main-dark-color, 5%);
	@media only screen and (min-width: 320px) and (max-width: 767px) { display: none; }
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
		@include resp-grid (170px, 1fr 1fr 1fr, 0 60px,
				            170px, 1fr 1fr, 0 200px,
				            none, none, none,
				            none, none);
		h3 {
			@include heading (uppercase, 1, $light-text-color, $aller-light);
			padding-bottom: 10px;
			opacity: .8;
		}
		p {
			@include txt-block ($light-text-color, $aller-it);
			text-align: justify;
		}
	}
}
.twitter-wg {
	@media only screen and (min-width: 768px) and (max-width: 959px) { display: none; }
	div {
		&:first-of-type { margin-bottom: 20px; }
		p {
			&:first-child { margin-bottom: 10px; }
			span { color: $cta-green-color; }
		}
	}
}
.flickr-wg {
	display: grid;
	grid-template-rows: 30px 65px 65px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	h3 { grid-column: 1 / 4; }
	div {
		background: $med-dark-bg-color;
	    img {
	        height: 100%;
		    width: 100%;
		    opacity: .7;
	    }
    }
}
.flickr-wg {
    .pop-up {
    	z-index: 3;
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100vw;
    	height: 100vh;
    	img {
    		height: initial;
    		width: initial;
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    	}
    }
}