
@font-face {
	font-family: 'Aller';
	src: url('../../fonts/aller/Aller_Rg.ttf') format('truetype');
}

@font-face {
	font-family: 'Aller-Light';
	src: url('../../fonts/aller/Aller_Lt.ttf') format('truetype');
}

@font-face {
	font-family: 'Aller-It';
	src: url('../../fonts/aller/Aller_It.ttf') format('truetype');
}

@font-face {
	font-family: 'STHeitiSC';
	src: url('../../fonts/stheitisc/STHeitiJLight.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icons/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}