@import '../../reusable-components/products-template';

.products-section {
	.sect-header {
		.filters {
			justify-self: end;
			display: flex;
			align-items: center;
			p {
				color: lighten($main-dark-color, 45%);
				display: flex;
				align-items: center;
				i {
					@extend %center-itm;
					height: 30px;
					width: 30px;
					border: 1px solid lighten($main-dark-color, 45%);
					margin-left: 8px;
					font-size: $basic-font-size * 1.3;
					cursor: pointer;
				}
				@media only screen and (min-width: 320px) and (max-width: 539px) { display: none; }
			}
			div {
				margin-left: 15px;
				width: 200px;
				height: 30px;
				border: 1px solid lighten($main-dark-color, 45%);
				color: lighten($main-dark-color, 45%);
				@extend %center-itm;
				cursor: pointer;
				position: relative;
				i {
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translate(0, -50%);
				}
			}
		}
	}
	.sect-main {
		@include resp-grid (270px 270px 270px, 1fr 1fr 1fr, 15px 20px,
			270px 270px 270px, 1fr 1fr 1fr, 15px 20px,
			310px 310px 310px 310px, 1fr 1fr, 15px 20px,
			360px, 25px 0);
		.itm-img { @include bg-img (url(../../../images/new-arr-item.png)); }
	}
}


//list view
.products-section {
	.sect-main.list {
		grid-template-rows: repeat(9, 200px);
		grid-template-columns: 1fr;
		.itm:hover .itm-name { opacity: 1; }
		.itm {
			grid-template-rows: 200px;
			grid-template-columns: 1fr 2fr;
			.itm-info {
				border-top: 0;
				border-left: 2px solid $light-bg-color;
				display: grid;
				grid-template-rows: 100px 30px 40px 30px;
				align-items: center;
				.price,
				.itm-name,
				.shop-icons { justify-self: center; }
				.price {
					transform: translate(0);
				}
				.shop-icons {
					transform: translate(0);
					opacity: 1;
					padding-right: 0;
					a { padding: 15px; }
				}
			}
		}
		@media only screen and (min-width: 540px) and (max-width: 767px) {
        .itm:last-child { display: grid; }
        .price { height: 70px; }
        }
	}
}


