.add-info {
	background-color: $light-bg-color;
    .container {
	    padding-top: 25px;
	    padding-bottom: 25px;
	    @include resp-grid (185px, 1fr 1fr 2fr, 20px,
				            185px, 1fr 2fr, 20px,
				            185px 185px, 1fr 1fr, 15px,
				            170px, 15px 0);
	    article {
		    background-color: $med-light-bg-color;
		    padding: 25px 15px;
		    &:first-child {
		    	@media only screen and (min-width: 768px) and (max-width: 959px) { display: none; }
		    }
		    h3 {
			    @include heading (uppercase, 1);
			    padding-bottom: 15px;
		    }
		    p,
		    blockquote {
		    	@include txt-block ($main-dark-color);
		    	cite {
		    		display: block;
		    		margin-top: 5px;
		    		font-style: italic;
		    		&:before,
		    		&:after { content:" - "; }
		    	}
		    }
		&:last-child {
			display: grid;
			grid-template-rows: 30px 100px;
			align-items: center;
			@media only screen and (min-width: 540px) and (max-width: 767px) { grid-column: 1 / 3; }
			@media only screen and (min-width: 320px) and (max-width: 539px) {
				p { display: none; }
			}
			.date {
				@include sticker-box ($cta-green-color, 40px);
				color: #fff;
				float: left;
				margin-right: 10px;
				}
			}
		}
	}
}