
.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0, -50%);
	.banner-price { @include sticker-box ($cta-green-color, 70px); }
	h2 { @include heading (capitalize, 2.9, $color: null, $font-family: $aller-light); }
	p {
		font-size: $basic-font-size * 1.4;
		width: 50%;
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		h2 { font-size: $basic-font-size * 2.3 }
		p { font-size: $basic-font-size * 1.2; }
	}
		@media only screen and (min-width: 320px) and (max-width: 767px) {
        transform: translate(-50%, -50%);
	}
}