
.container {
	margin: auto;
	padding: 0 10px;
	@media only screen and (min-width: 960px) {
		width: 960px !important;
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		width: 720px !important;
	}
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		width: 100%;
		padding: 0 20px;	
	}
}


//for centering everything inside the element
%center-itm {
	display: flex;
	align-items: center;
	justify-content: center;
}


//ICONS
//icomoon icons
.icon {
    font-family: 'icomoon' !important;
    font-size: 16px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-view:before { content: "\e902"; }
.i-wishlist:before { content: "\e903"; }
.i-share:before { content: "\e901"; }
.i-cart:before { content: "\e900"; }

.i-view:before,
.i-wishlist:before,
.i-share:before,
.i-cart:before {
	color: #6e6e6e;
	transition: color .3s linear;
}

.i-view:hover:before,
.i-wishlist:hover:before,
.i-share:hover:before,
.i-cart:hover:before,
.i-view:active:before,
.i-wishlist:active:before,
.i-share:active:before,
.i-cart:active:before {
	color: $cta-green-color;
	transition: color .3s linear;
}

//fontawesome social icons
.social-i {
	font-size: 20px;
	transition: color .3s;
}
.fa-flickr { font-size: 37px; }


//messages for validation
.tria {
	width: 0;
	height: 0;
	border: 10px solid transparent;
}

.val-msg {
	background-color: $med-dark-bg-color;
	color: $light-text-color;
	font-size: $basic-font-size * 0.9;
}
