
.logo-row {
	background-color: $main-dark-color;
	.container {
		@include grid-col (45px);
		border-right: 1px solid lighten($med-dark-bg-color, 20%);
		.logo {
			@include heading (uppercase, 1.9, $cta-green-color, $logo-font);
			font-weight: normal;
		}
		.search-login {
			justify-self: end;
			color: darken($light-text-color, 10%);
			display: flex;
			align-items: center;
			form {
				border-right: 1px solid lighten($med-dark-bg-color, 20%);
				display: flex;
				align-items: center;
				@media only screen and (min-width: 320px) and (max-width: 767px) { display: none; }
				input[type="search"] {
					height: 45px;
					border-left: 1px solid lighten($med-dark-bg-color, 20%);
					padding-left: 20px;
					background-color: transparent;
					text-transform: uppercase;
					font-family: $aller-reg;
					color: darken($light-text-color, 10%);
					display: none;
				}
				#search-lm-i {
					width: 45px;
					height: 45px;
					background-image: url(../../../images/search-i.png);
					background-repeat: no-repeat;
					background-position: center;
					cursor: pointer;
				}
			}
			.login {
				padding-left: 20px;
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					height: 45px;
					display: flex;
					align-items: center;
					padding: 0 15px;
					font-size: $basic-font-size * 0.8;
					border-right: 1px solid lighten($med-dark-bg-color, 20%);
					border-left: 1px solid lighten($med-dark-bg-color, 20%);
					span { padding-right: 2px; }
				}
			}
			#login,
			#register {
				text-transform: uppercase;
				cursor: pointer;
			}
		}
	}
}

//suggestion on search
form { position: relative; }
.sugg {
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 1;
	display: none;
	a {
	    display: flex;
		align-items: center;
		height: 40px;
		width: 221px;
		background-color: $med-dark-bg-color;
		@include heading (uppercase, 0.9, $color: darken($light-text-color, 15%), $font-family: null);
		padding-left: 20px;
		border-bottom: 1px solid lighten($med-dark-bg-color, 20%);
		&:last-of-type { border: 0; }
	}
}


//FORMS
//login form
.logo-row {
	.container {
		position: relative;
		.search-login {  
			.login-form {
				display: none;
				z-index: 2;
				position: absolute;
				top: 0;
				right: 0;
				height: 45px;
				padding: 5px 10px;
				background-color: $main-dark-color;
				input[type="text"],
				input[type="password"],
				input[type="submit"] {
					height: 100%;
					padding: 0 20px;
				}
				input[type="text"],
				input[type="password"] {
					margin-right: 15px;
					background-color: $med-dark-bg-color;
					font-family: $aller-it;
					color: $light-text-color;
				}
				input[type="submit"] {
					background-color: $cta-green-color;
					@include heading (uppercase, 0.9, $med-dark-bg-color, $aller-reg);
					font-weight: bold;
				}
				#log-tria {
					border-bottom-color: $med-dark-bg-color;
					border-top: 0;
					position: absolute;
					top: 40px;
					left: 125px;
					display: none;
				}
				#log-error-msg {
					position: absolute;
					top: 50px;
					left: 10px;
				}
				@media only screen and (min-width: 320px) and (max-width: 767px) {
					top: 45px;
					height: 60px;
					width: 100%;
					padding: 10px 20px 10px 0;
		            text-align: center;
	            }
	            @media only screen and (min-width: 320px) and (max-width: 539px) {
                    padding: 0;
                    height: 130px;
                    input[type="text"],
                    input[type="password"],
                    input[type="submit"] {
                    	width: 100%;
                    	height: 40px;
                    	text-align: center;
                    	margin-bottom: 5px;
                    }
                    input[type="submit"] { margin: 0; }
                }
            }
        }
    }
}

//register form
.register-underlayer {
	display: none;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $med-dark-bg-color;
	opacity: .9;
}
	.register-form {
		display: none;
		z-index: 3;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $main-dark-color;
		color: $light-text-color;
		padding: 35px 50px;
		width: 600px;
		label {
			position: relative;
			@include grid-col (50px);
			grid-template-columns: 1fr 1.25fr;
			input,
			textarea,
			 {
				background-color: $med-dark-bg-color;
				color: $light-text-color;
			}
			input {
				height: 30px;
				padding: 0 15px;
			}
			textarea {
				height: 45px;
				padding: 5px 10px;
				border: 0;
			}
		}
		input[type="submit"],
		input[type="reset"] {
			height: 30px;
			margin-top: 15px;
		}
		input[type="submit"] {
            width: 335px;
            background-color: $cta-green-color;
			@include heading (uppercase, 1, $med-dark-bg-color, $aller-reg);
			font-weight: bold;
		}
		input[type="reset"] {
			width: 150px;
			background-color: $med-dark-bg-color;
			@include heading (none, 1, $light-text-color, $aller-reg);
			margin-left: 10px;
		}
		#reg-tria {
			border-top-color: $med-dark-bg-color;
			border-bottom: 0;
			position: absolute;
			top: -1px;
			right: 120px;
			display: none;
		}
		#reg-error-msg {
			position: absolute;
			top: -26px;
			right: 0;
		}
		#pass-tria {
			border-bottom-color: $med-dark-bg-color;
			border-top: 0;
			position: absolute;
			bottom: 0px;
			right: 85px;
			display: none;
		}
		#pass {
			position: absolute;
			bottom: -25px;
			right: 0;
		}
		@media only screen and (min-width: 320px) and (max-width: 539px) {
			width: 320px;
			padding: 30px 20px;
			input,
			textarea { width: 175px; }
			input[type="submit"],
		    input[type="reset"] {
		    	width: 100%;
		    	margin: 5px 0;
		    }
	    }
	    @media only screen and (min-width: 540px) and (max-width: 767px) {
		    width: 500px;
		    padding: 30px 20px;
		    input[type="submit"] {
               width: 295px;
		    }
	    }
	}
.label-cont { position: relative; }