.menu-row { 
	background-color: #fff;
	position: relative;
	.container {
		@include grid-col (60px);
		border-right: 1px solid $med-light-bg-color;
		.s-brakepoint { display: none; }
		#search-lm-inp { display: none; }
		ul {
			list-style-type: none;
			@media only screen and (min-width: 768px) { display: flex !important; }
			border-left: 1px solid $med-light-bg-color;
			li {
				height: 60px;
				@extend %center-itm;
				padding: 0  20px;
				border-right: 1px solid $med-light-bg-color;
				&:last-child {
					@media only screen and (min-width: 768px) and (max-width: 959px) { border-right: 0; }
				}
				a {
					font-size: $basic-font-size * 1.15;
					color: $main-dark-color;
				}
			}
		}
		.wishlist-cart {
			@media only screen and (min-width: 768px) { display: flex !important; }
			justify-self: end;
			@extend %center-itm;
			height: 60px;
			border-left: 1px solid $med-light-bg-color;
			padding: 0 20px;			
			a {
				@extend %center-itm;
				height: 60px;
				font-size: 20px;
				padding-right: 15px;
				&:last-of-type {
					padding-left: 20px;
					border-left: 1px solid $med-light-bg-color;
				}
			}
			output {
				@extend %center-itm;
				@include sticker-box ($med-light-bg-color, 20px, $color: #fff, $font-size-factor: 0.9);
				transition: background-color .3s;
				border-radius: 3px;
				cursor: pointer;
				&:first-of-type { margin-right: 20px; }
				&:hover,
				&:active {
					background-color: $cta-green-color;
					transition: background-color .3s;
				}
			}
		}
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			ul {
				display: none;
				width: 100%;
				position: absolute;
				top: 60px;
				left: 0px;
				background-color: #fff;
				z-index: 2;
				li {
					height: 50px;
					border-top: 1px solid $med-light-bg-color;
					&:first-child { border-top: 0; }
				}
			}	
			.s-brakepoint {
				display: flex;
				justify-self: start;
				padding: 0 23px;
				border-left: 1px solid $med-light-bg-color;
				border-right: 1px solid $med-light-bg-color;
				form {
					width: 130px;
					display: none;
					input[type="search"] {
						padding-left: 20px;
						height: 60px;
						display: flex;
						align-items: center;
						background-color: transparent;
						text-transform: uppercase;
						font-family: $aller-reg;
					}
				}
				@media only screen and (min-width: 320px) and (max-width: 400px) { border-right: 0; }
				i {
					color: #6e6e6e;
					font-size: $basic-font-size * 1.2;
					height: 60px;
					display: flex;
					align-items: center;
					&:first-child {
						border-right: 1px solid $med-light-bg-color;
						padding-right: 23px;
					}
					&:last-of-type { padding-left: 23px; }
				}
			}
			.wishlist-cart {
				border-right: 1px solid $med-light-bg-color;
				padding: 0 15px;
				a {
					font-size: $basic-font-size * 1.2 !important;
					padding-right: 5px !important;
					&:last-of-type {
						padding-left: 15px; }
					}
					output {
						&:first-of-type { margin-right: 15px; }
					}
				}
			}
		}
	}

//suggestion on search
.sugg-s {
	top: 60px;
	left: -41px;
	display: none;
	a {
		width: 195px;
		background-color: lighten($light-bg-color, 5%);
		color: darken($light-text-color, 25%);
		border-bottom: 1px solid $light-text-color;
	}
}