
.sect-header {
    @include grid-col (90px);
    @media only screen and (min-width: 320px) and (max-width: 539px) {
        @include grid-row (50px 50px);
        margin: 15px 0;
        h3 { text-align: center; }
    }
    h3 { @include heading ($text-transform: none, $font-size-factor: 1.75, $font-family: $aller-light); }
}
.show-all-button {
    justify-self: end;
    text-transform: capitalize;
    font-family: $aller-reg;
    color: lighten($main-dark-color, 45%);
    border: 1px solid lighten($main-dark-color, 45%);
    background-color: transparent;
    width: 100px;
    height: 30px;
    &:hover,
    &:active {
        color: lighten($main-dark-color, 30%);
        border: 1px solid lighten($main-dark-color, 30%);
        transition: all .5s linear;
    }
    @media only screen and (min-width: 320px) and (max-width: 539px) {
        justify-self: center;
        width: 280px;
        height: 30px;
    }
}
.sect-main {
    @include resp-grid (270px, 1fr 1fr 1fr, 0 20px,
        270px, 1fr 1fr 1fr, 0 20px,
        310px, 1fr 1fr, 0 20px,
        360px, 25px 0);
    @media only screen and (min-width: 540px) and (max-width: 767px) {
        .itm:last-child { display: none; }
    }
}
.itm {
    display: grid;
    grid-template-rows: 220px 50px;
    background-color: #fff;
    @media only screen and (min-width: 320px) and (max-width: 539px) { grid-template-rows: 270px 30px 60px; }
    &:hover .itm-name {
        opacity: 0;
        transition: opacity .4s linear;
    }
    &:hover .shop-icons {
        opacity: 1;
        transition: opacity .4s linear;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        &:hover .itm-name { opacity: 1; }
    }
}
.itm-img {
    position: relative;
}
.sticker {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 10px;
}
.sticker.visible { opacity: 1; }
.itm-info { border-top: 2px solid $light-bg-color; }
.price {
    @include sticker-box ($cta-green-color, 70px);
    transform: translate(0, -22px);
    float: left;
    margin-left: 10px;
    @media only screen and (min-width: 768px) and (max-width: 959px) { margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) { height: 110px; }
}
.itm-name {
    @include heading ($text-transform: capitalize, $font-size-factor: 1.2);
    font-weight: normal;
    height: 50px;
    @media only screen and (min-width: 320px) and (max-width: 767px) { height: 30px; }
    display: flex;
    align-items: center;
    padding-left: 10px;
    opacity: 1;
    transition: opacity .4s linear;
}
.shop-icons {
    height: 50px;
    transform: translate(0, -50px);
    opacity: 0;
    @extend %center-itm;
    justify-content: flex-end;
    padding-right: 10px;
    transition: opacity .4s linear;
    a {
        display: inline-block;
        padding: 0 7px;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px)  {
        height: 58px;
        transform: translate(0, 0);
        opacity: 1;
        background-color: #fff;
        justify-content: space-around;
        a { padding: 0 5px; }
    }
}
@media (any-pointer: coarse) {
    .itm {
        &:hover.itm-name, 
        &:active.itm-name { opacity: 1; }
    }
    .price { height: 110px; }
    .itm-name { height: 30px; }
    .shop-icons {
        height: 58px;
        transform: translate(0, 0);
        opacity: 1;
        background-color: #fff;
        justify-content: space-around;
        a { padding: 0 5px; }
    }
}
.on-sale-sticker { @include sticker-box ($main-dark-color, 70px); }
.out-of-stock-sticker { @include sticker-box (#F27E4B, 70px); }