.specials {
	width: 100%;
	background-color: $main-dark-color;
	.container {
		@include resp-grid (230px, 1fr 1fr 1fr, 0 20px,
			230px, 1fr 1fr 1fr, 0 20px,
			80px 80px 80px, 1fr, 10px 0,
			80px, 10px 0);
		padding-top: 25px;
		padding-bottom: 25px;
		figure {
			@extend %center-itm;
			figcaption {
				@extend %center-itm;
				background-color: $main-dark-color;
				@include heading ($text-transform: uppercase,  $font-size-factor: 1.7, $color: #fff, $font-family: $aller-light);
				opacity: .9;
				width: 180px;
				height: 60px;
				@media only screen and (min-width: 320px) and (max-width: 767px) { width: 200px; }
			}
		}
	}
}

.on-sale { @include bg-img (url(../../images/on-sale.jpg), .9); }
.special-offer {
	@include bg-img (url(../../images/special-offers.jpg), .9);
	figcaption {
		width: 200px;
	}
}
.must-have { @include bg-img (url(../../images/must-have.jpg), .9); }