

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

figure {
	margin: 0;
	figcaption {
		cursor: pointer;
	}
}

body {
	font-size: $basic-font-size;
	color: $main-dark-color;
	font-family: $aller-reg;
	overflow-x: hidden;
}

a { text-decoration: none; }

input { border: 0; }

main {
	background-color: $light-bg-color;
	padding-bottom: 50px;
	border-bottom: 1px solid lighten($main-dark-color, 60%);
}