footer {
	background-color: $med-dark-bg-color;
	.container {
		@include grid-col (25px);
		.secondary-nav { justify-self: end; }
		    padding-top: 30px;
		    padding-bottom: 30px;
		    color: $light-text-color;
		    font-size: $basic-font-size * 0.9;
		    line-height: 170%;
		    a {
		    	color: $light-text-color;
		    	transition: color .3s;
		    	&:hover,
		    	&:active {
		    		color: $cta-green-color;
		    		transition: color .3s;
		    	}
		    }
		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding: 20px 10px;
			@include grid-row (40px 30px);
			p { text-align: center; }
			.secondary-nav { justify-self: center; }
		}
		@media only screen and (min-width: 320px) and (max-width: 539px) {
			grid-template-rows: 40px 120px;
			.secondary-nav {
				text-align: center;
				span { display: none; }
				a {
					display: block;
					font-size: $basic-font-size
				}
			}
		}
	}
}